

.stats-wrapper {
    min-height: 100%;
    padding-bottom: 50px;
    background-color: rgba(30, 30, 30, 0.9);
}

.stats-wrapper header {
    padding-top: 30px;
    background: linear-gradient(160deg, rgba(169, 169, 169, 0.8) 0%, rgba(128, 128, 128, 0.8) 26%, rgba(105, 105, 105, 0.8) 78%);
    color: white;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.stats-wrapper h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



.stats-wrapper #dashboard-span {
    font-weight: 600;
}

.stats-wrapper .container {
    margin: 50px auto;
}

.stats-wrapper h3 {
    font-size: 24px;
}

.stats-wrapper p {
    font-weight: 300;
}

.stats-wrapper .row {
    margin-bottom: 75px;
}

/* CHARTS */
#duration-line, #duration-pie, #weight-bar, #weight-doughnut {
    border-radius: 8px;
    background: rgba(182, 182, 182, 0.8);
    height: 300px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

/* ------- MEDIA QUERIES ------- */
@media (max-width: 768px) {
    #duration-pie, #weight-doughnut {
        margin-top: 10px;
    }
}

@media (max-width: 675px) {
    .nav-title {
        height: 101px;
    }

    .nav-links {
        height: 146px;
    }

    .stats-wrapper header {
        height: 100px;
    }

    .stats-wrapper .container {
        margin: 25px auto;
    }

    .stats-wrapper .row {
        margin-bottom: 35px;
    }
    
    .stats-wrapper h1 {
        font-size: 30px;
        margin-top: 0;
    }
}
